html,
body {
  height: 100vh;
  margin: 0;
  /* width: 100%; */
}

#map-canvas {
  bottom:0;
  height: 90vh;
  left: 0;
  position: relative;
  right: 0;
  top: 0;
  width: 100%;
}

#pano {
  height: 20rem;
  width: 30rem;
}


.flex-container {
  display: flex;
}

.menu {
  flex: 1;
  overflow: hidden;
  padding: 1em;
  position: relative;
  transition: all 0.3s;
  white-space: nowrap;
}

.hidden-menu {
  flex: 0;
  padding: 1em 0 1em 0;
}

.filter-input {
  /* overflow: hidden; */
  flex-grow: 1;
}

.x-button {
  display: block;
  opacity: 1;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  /* transition: transform .2s ease-in-out, visibility 0s .2s, opacity 0.5s linear; */
  visibility: visible;
}

.x-button:hover {
  transform: rotate(-90deg);
}


.main {
  flex: 4;
  padding: 1em;
}

.menu-ico {
  position: absolute;
}

.max-height {
  height: 100vh;
}

.header {
  max-height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1.5em;
  position: relative;
}

.title {
  margin-left: 1.5em;
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: transform .2s ease-in-out, visibility 0s linear .2s, opacity .2s;
}
.fade-in {
  visibility: visible;
  opacity: 1;
  transition: transform .2s ease-in-out, visibility 0s, opacity .3s ease-in-out;
}

.move-title {
  transform: translate(-0.5em);
}

/*.menu {
  height: 100%;
  min-width: 20%;
  max-width: 20%;
  transition: all 1s;
  left: 0;
  flex: 1
}

.main {
  flex: 4;
}


.map-container {
  width: 100%;
  height: 100%;
}

.wrapper {
  height: 100%;
}

.menu-ico {
  margin-left: 1.5em;
}

.move-left {
  position: absolute;
  min-width: 0;
  max-width: 0;
}
*/