html,
body {
  height: 100vh;
  margin: 0;
  background-color: #f8f8f8;
  font-family: "Roboto", Helvetica, sans-serif;
}

h1 {
  font-size: 2.3rem;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  margin-bottom: 0;
}

#map-canvas {
  border: solid 1px #ccc;
  bottom:0;
  height: 90vh;
  left: 0;
  position: relative;
  right: 0;
  top: 0;
  width: 100%;
}

#pano {
  height: 19.15rem;
  width: 20rem;
}

#info-window {
  min-height: 356px;
  min-width: 320px;
}

/* General classes */

.flex-container {
  display: flex;
}

.flex-column {
  align-self: flex-start;
  flex-direction: column;
}

.flex-center {
  align-items: center;
}

.nowrap {
  flex-flow: nowrap;
}

.max-height {
  height: 100vh;
}

/* Sidebar */

.menu {
  flex: 1;
  overflow: hidden;
  padding: 1em;
  position: relative;
  transition: all 0.3s;
  white-space: nowrap;
}

.hidden-menu {
  flex: 0;
  padding: 1em 0 1em 0;
}

.filter-ico {
  margin-right: 0.5em;
  color: #3b3b3b9c;
}

.filter-input {
  flex-grow: 1;
}

.x-button {
  display: block;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0.5em;
  visibility: visible;
}

.x-button:hover {
  cursor: pointer;
  transform: rotate(-90deg);
}

.menu-ico {
  position: absolute;
}

.menu-ico:hover {
  cursor: pointer;
}

/* Header */

.header {
  max-height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1.5em;
  position: relative;
}

/* Header elements */

.title {
  margin-left: 1.5em;
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: transform .2s ease-in-out, visibility 0s linear .2s, opacity .2s;
}
.fade-in {
  visibility: visible;
  opacity: 1;
  transition: transform .2s ease-in-out, visibility 0s, opacity .3s ease-in-out;
}

.move-title {
  transform: translate(-0.5em);
}

/* Main view */

.main {
  flex: 4;
  padding: 1em;
}

/* Infowindow */

.place-img-ele {
  display: block;
  margin: auto;
  margin-bottom: 0.2rem;
  margin-left: 0.2rem;
  transition: 0.3s;
}

.place-img-ele:last-of-type {
  margin-bottom: 0;
}

.place-img-ele:hover {
  opacity: 0.7;
  cursor: pointer;
}

.info-title {
  display: block;
  font-size: 1.5em;
  font-weight: 400;
  margin: 0.3em 0;
  text-transform: uppercase;
}

.info-clear {
  clear: both;
}

.info {
  display: inline-block;
  font-style: italic;
  margin: 0 0.5em 0.5em;
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  padding: 1em 0 1em 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000;
  background-color: rgba(0,0,0,0.8);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Animating modal */

.modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.5s;
  animation-name: zoom;
  animation-duration: 0.5s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes zoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Close modal button */

.close-modal {
  position: absolute;
  top: 1em;
  right: 2em;
  color: #ccc;
  font-size: 3em;
  font-weight: bold;
  transition: transform 0.2s ease-in-out;
}

.close-modal:hover {
  cursor: pointer;
  transform: rotate(-90deg);
}

/* MEDIA QUERIES */
/* Small view */

@media only screen and (min-width: 701px) and (max-width: 1310px) {
  .menu {
    flex: 2;
  }
  .main {
    flex: 3;
  }
  .hidden-menu {
    flex: 0;
    padding: 1em 0 1em 0;
  }
}

/* Small tablet view */

@media only screen and (max-width: 700px) {
  .modal {
    padding: 0;
  }
  .modal-content {
    width: 100%;
  }
  .close-modal {
    top: 0;
    right: 0.5em;
  }
  .info {
    display: block;
  }
  .menu {
    flex: 4;
  }
  .main {
    flex: 1;
  }
  .hidden-menu {
    flex: 0;
    padding: 1em 0 1em 0;
  }
}

/* Mobile view */

@media only screen and (max-width: 530px) {
  .menu {
    background: #f8f8f8;
    height: 100%;
    width: 90%;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 998;
  }
  .hidden-menu {
    width: 0;
  }
}